body {
  margin: 0px;
}

.about-container {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100vh;
}

.left-section {
  flex-grow: 0.7;
  box-shadow: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box h1{
  font-size: 57px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
  margin-bottom: 0px;
}

.text-box .txt {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin-left: 8px;
  font-family: serif;
  font-weight: 600;
  /* letter-spacing: 1px; */
  top: -17px;
 
}

.text-box .ori {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  margin-top: 2px;
  margin-bottom: 4px;
  color: rgb(167, 153, 40);
}

.start-text {
  font-size: 40px;
  font-family: "Figtree", sans-serif;
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 0px;
}

.start-sub {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  margin-top: 0px;
  font-size: 28px;
}

.btn-container {
  margin-top: 15px;
}

.btn-container .start-btn {
  margin-bottom: 0px;
}

.start-btn,
.no-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 449px;
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 17px;
  cursor: pointer;
  border: 2px solid rgb(167, 153, 40);
  font-weight: 500;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.start-btn {
  background: rgb(167, 153, 40);
  color: #fff;
}

.start-btn:hover {
  background: rgba(167, 152, 40, 0.822);
}

.no-btn {
  background: #fff;
  color: rgb(167, 153, 40);
}

.no-btn:hover {
  background: #f9fbea;
}

/* RIGHT SECTION (IMAGE) */
.right-section {
  flex-grow: 1.5;
  display: block;
  background-image: url("images/hair.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Add responsive design for small screens */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
    min-height: auto;
  }

  .left-section {
    flex-grow: 0;
    padding: 40px 0px;
    min-height: auto;
    justify-content: center;
  }

  .text-box h1 {
    font-size: 46px;
  }


  .text-box .txt {
    font-size: 11px;
    margin-left: 4px;
  }

  .text-box .ori {
    font-size: 20px;
  }

  .start-text {
    font-size: 27px;
  }

  .start-sub {
    font-size: 23px;
  }

  .start-btn,
  .no-btn {
    max-width: 100%;
    padding: 16px 37px;
    font-size: 15px;
  }

  .right-section {
    flex-grow: 0;
    min-height: 350px;
    height: 350px;
  }
}

@media (max-width: 480px) {
  .left-section {
    padding: 30px 6px;
  }

  .text-box h1 {
    font-size: 28px;
  }

  .text-box .txt {
    font-size: 9px;
    margin-left: 5px;
  }

  .text-box .ori {
    font-size: 16px;
  }

  .start-text {
    font-size: 20px;
  }

  .start-sub {
    font-size: 18px;
  }

  .right-section {
    min-height: 280px;
    height: 280px;
  }
}
